@font-face {
    font-family:'FrizQuadrataCTT';
    src: url('../the-bakery-s-website/fonts/ofont.ru_FrizQuadrataCTT.ttf') format('ttf');
    font-weight: 300;
    font-style: normal; 
    font-display: swap; 
}
@font-face {
    font-family:'FrizQuadrataCTT' ;
    src: url('./fonts/ofont.ru_FrizQuadrataCTT\ bi.ttf') format('ttf');
    font-weight: 700;
    font-style: normal; 
    font-display: swap; 
}

 :root{
    --colar-dark: #F2EAE6;
    --colar-light: #FAF6F1;
    --colar-brown: #E6D0C6;
    --colat-dark-brown:#481D09; 
    --border-radius: 10px;
    --font-family-base: 'FrizQuadrataCTT','san-serif';
    --input-height:60px;
    --container-width:590px;
    --container-padding-x:15px;
    -o-transition-duration: 0.2s;


 }
 body{

    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--colar-dark);
    
 }
 
 .container {
    margin: 92px 120px;
    background-color: #FAF6F1;
    background-size: cover;
    justify-content:space-between;
    height: 1066px;
    
 }
 
  

 
 h1,h2,h3,h4,h5,h6{

    font-weight: 700;
    text-transform: uppercase;
 }
 header{

    margin: 30px 0px 22px 0px;
    
  
    
 }
 .header-inner{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
 }
 .header-menu-list{
    display: flex;
    align-items: center;
    column-gap: 75px;
    
    ;
 }
 .header-menu-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}

 .header-menu{
    font-family:'FrizQuadrataCTT';
    background-color: var(--colar-brown);
    padding: 10px 15px;
    display: flex;
    align-items: center;
   ;
 }
 main{
  margin: 1px 0;
  align-items: baseline;
  
  
 }
 
 

 
 
 .main-inner{
  margin: 15px 43px 0 0 ;
  
  margin-bottom: 21px;
  color: #481D09;
  
  
  height: 600px;
  text-align: center;
  
 }
 .main-inner-first{
  font-family:'FrizQuadrataCTT';
  margin: 15px 97px 0px 43px ;
  display:flex ;
  align-items: center;
    
  justify-content: space-between
}
.line-center {
  background-image: url(../the-bakery-s-website/images/Line\ 16.png);
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 15px;
  background-repeat: repeat;
  
  
}
.main-inner-second{
  
  margin: 15px 97px 0px 55px ;
  display:flex ;
  align-items: center;
    
  justify-content: space-between
}
.main-inner-therd{
  
  margin: 15px 97px 0px 55px ;
  display:flex ;
  align-items: center;
    
  justify-content: space-between
}
.main-inner-fourth{
  
  margin: 15px 97px 0px 55px ;
  display:flex ;
  align-items: center;
    
  justify-content: space-between
}
.main-inner-fifth{
  
  margin: 15px 97px 0px 55px ;
  display:flex ;
  align-items: center;
    
  justify-content: space-between
}
button{
  border: none;
  cursor: pointer;
}
section{
  margin-top: 155px;
  color: #481D09;
  
}
.text{
  text-align: right;
  margin-right: 150px;
}
.text-inner{
  color: #481D09;
  opacity: 70%;
}
.footer-inner{
  display:flex ;
  align-items: center;

}
.button-footer{
  margin-left: 200px;
  background-color: #481D09;
  border-radius: 10px;
  padding: 12px 70px;
  align-items: center;
  color: #E6D0C6;
  text-align: center;
  
  font-size: 24px;
}

  



